body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('assets/img/others/bg_main.jpg');
    background-size: cover;
    background-position: center;
}

canvas {
    display: none;
    position: absolute;
    background-color: black;
    border: 4px solid #9E5431;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 728px;
    height: 488px;
    border: 4px solid #9E5431;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.headline {
    text-align: center;
}

#startScreen {
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    background-image: url('assets/img/others/bg_img_cactus.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 80px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 30px;
}

.start-screen-btn{
    background-color: #6B912E;
    color: white;
    border: solid 1px black;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pepe-greeting {
    position: absolute;
    bottom: -56px;
    left: 6%;
    width: 180px;
    height: auto;
}

.start-screen-btn:hover {
    background-color: #51781F;
}

#loseEndScreen {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

.lose-screen-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url('assets/img/You won, you lost/Game Over.png');
    background-size: 460px;
    background-repeat: no-repeat;
    background-position: calc(50% + 0px) calc(50% - 64px);
    padding: 0 120px 80px 120px;
}

.lose-screen-btn{
    width: 200px;
    background-color: #FFD908;
    color: #9A3A17;
    border: solid 1px black;
    border: solid 1px #9A3A17;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.lose-screen-btn:hover {
    background-color: #FF9C00;
}

#winEndScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

dialog{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.500);
}

.dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 728px;
    /* height: 80%; */;
    padding: 0 40px 28px 40px;
    background-color: #FDC973;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text-content{
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.text-content h2 {
    font-size: 2.9rem;
    font-weight: 400;
}

.text-content h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.text-content h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

.text-content strong {
    color: #AC4B1E;
    font-weight: bold;
    padding: 0 6px;
    border-radius: 4px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    padding-top: 16px;
}

.dialog-btn{
    margin-top: 40px;
    background-color: #AC4B1E;
    color: white;
    border: solid 1px black;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dialog-btn:hover {
    background-color: #752107;
}