body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('assets/img/others/bg_main.jpg');
    background-size: cover;
    background-position: center;
}

.canvas-wrapper {
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    display: block;
    position: relative;
    background-color: black;
    border: 4px solid #9E5431;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}

#gameControls {
    position: absolute;
    top: 562px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    /* gap: 12px; */
}

figcaption h2{
    color: white;
}

.game-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-controls-img {
    width: auto;
    height: 40px;
}

.walk-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.control {
    display: flex;
    padding: 2px;
}

.control span {
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.control p {
    font-family: 'Open Sans';
    font-weight: bold;
}

.horizontal-controls {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
}

.other-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#muteButton {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: url('assets/img/sound/pngwing.com.png') center/cover no-repeat;
    border: none;
    cursor: pointer;
    z-index: 10;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 728px;
    height: 488px;
    border: 4px solid #9E5431;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.headline {
    text-align: center;
}

#startScreen {
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: 36px;
    background-image: url('assets/img/others/bg_img_cactus.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 80px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 30px;
}

.start-screen-btn {
    background-color: #6B912E;
    color: white;
    border: solid 1px black;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #51781F;
    }
}

.pepe-greeting {
    position: absolute;
    bottom: -56px;
    left: 6%;
    width: 180px;
    height: auto;
}

#loseEndScreen {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

.lose-screen-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url('assets/img/You won, you lost/Game Over.png');
    background-size: 460px;
    background-repeat: no-repeat;
    background-position: calc(50% + 0px) calc(50% - 64px);
    padding: 0 120px 80px 120px;
}

.end-screen-btn {
    width: 200px;
    background-color: #FFD908;
    color: #9A3A17;
    border: solid 1px black;
    border: solid 1px #9A3A17;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #FF9C00;
    }
}

#winEndScreen {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

}

.win-screen-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 36px;
    background-color: #1FA5CC;
    background-image: url('assets/img/You won, you lost/You Win A.png');
    /* background-image: url('assets/img/9_intro_outro_screens/start/startscreen_1.png'); */
    background-size: 480px;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: calc(50% + 0px) calc(50% - 0px);
    padding: 0 120px 40px 120px;

    h2 {
        padding-top: 40px;
        font-size: 2rem;
    }
}

.final-score-container {
    font-size: 1.6rem;
    padding-bottom: 162px;
}

/* .you-win-img{
    padding-top: 80px;
    width: 460px;
    height: auto;
} */

span {
    font-weight: bold;
    color: #AC4B1E;
}

#finalScore {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    font-weight: bold;
}

.win-screen-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

dialog {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.500);
}

.dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 728px;
    /* height: auto; */
    padding: 0 40px 28px 40px;
    background-color: #FDC973;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.text-content {
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.text-content h2 {
    font-size: 2.9rem;
    font-weight: 400;
}

.text-content h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.text-content h4 {
    font-size: 1.3rem;
    font-weight: bold;
}

.text-content strong {
    color: #AC4B1E;
    font-weight: bold;
    padding: 0 6px;
    border-radius: 4px;
}

.dialog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* section{
    padding-top: 16px;
} */

.dialog-btn {
    margin-top: 40px;
    background-color: #AC4B1E;
    color: white;
    border: solid 1px black;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dialog-btn:hover {
    background-color: #752107;
}

#portraitscape-overlay {
    display: none;
}

.portrait-overlay-message h2 {
    display: none;
}

@media (max-width: 1024px) {
    figure{
        display: none;
    }
    canvas {
        border-radius: 0;
    }

    main {
        border-radius: 0;
    }

    #startScreen {
        border-radius: 0;
    }

    .pepe-greeting {
        display: none;
    }

    #loseEndScreen {
        border-radius: 0;
    }

    .win-screen-container {
        border-radius: 0;

        h2 {
            padding-top: 20px;
        }
    }

    .dialog-content {
        height: 90%;
    }

    .final-score-container {
        padding-bottom: 140px;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {

    #portrait-overlay {
        position: fixed;
        inset: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        font-family: sans-serif;
        text-align: center;
        background: linear-gradient(233deg, #FFF227, #B14F30, #6B912E);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    #portrait-overlay.show {
        opacity: 1;
        pointer-events: all;
    }

    .portrait-overlay-logo {
        position: absolute;
        inset: 0;
        background: url('assets/img/others/bg_main_portrait.png') center/cover no-repeat;
        opacity: 0.2;
        filter: blur(2px);
        pointer-events: none;
    }

    .portrait-overlay-message h2 {
        display: flex;
        font-size: 24px;
        color: white;
        background: rgba(148, 54, 16, 0.85);
        padding: 16px 24px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        max-width: 90vw;
        line-height: 1.4;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        border-radius: 0;
    }

    main {
        width: 100%;
        border-radius: 0;
    }

    #startScreen {
        border-radius: 0;
    }


}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    main {
        height: 100vh;
    }

    .lose-screen-container {
        background-size: auto 160px;
    }
}