@media (max-width: 1366px) {
    .move-buttons {
        display: flex;
    }

    .action-buttons {
        display: flex;
    }

    #gameControls {
        display: none;
    }

    canvas {
        border-radius: 0;
    }

    main {
        border-radius: 0;
    }

    #startScreen {
        border-radius: 0;
    }

    .pepe-greeting {
        display: none;
    }

    #loseEndScreen {
        border-radius: 0;
    }

    .win-screen-container {
        border-radius: 0;

        h2 {
            padding-top: 20px;
        }
    }

    .final-score-container {
        padding-bottom: 140px;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    #portraitOverlay {
        position: fixed;
        inset: 0;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        font-family: sans-serif;
        text-align: center;
        background: linear-gradient(233deg, #FFF227, #B14F30, #6B912E);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    #portraitOverlay.show {
        opacity: 1;
        pointer-events: all;
    }

    .portrait-overlay-logo {
        position: absolute;
        inset: 0;
        background: url('../assets/img/others/bg_main_portrait.png') center/cover no-repeat;
        opacity: 0.2;
        filter: blur(2px);
        pointer-events: none;
    }

    .portrait-overlay-message h2 {
        display: flex;
        font-size: 24px;
        color: white;
        background: rgba(148, 54, 16, 0.85);
        padding: 16px 24px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        max-width: 90vw;
        line-height: 1.4;
    }
}

@media (max-height: 767px) {
    .move-buttons {
        bottom: 30px;
        left: 30px;
        width: 100px;
        height: 100px;
    }

    .action-buttons {
        bottom: 30px;
        right: 30px;
        width: 100px;
        height: 100px;
    }

    .controller-button {
        height: 40px;
        width: 40px;
    }

    .controller-button img {
        width: 40px;
        height: 40px;
    }

    .htp-dialog-content {
        height: 99%;
        width: 99%;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        border-radius: 0;
    }

    main {
        width: 100%;
        border-radius: 0;
    }

    #startScreen {
        border-radius: 0;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    main {
        height: 100vh;
    }

    .lose-screen-container {
        background-size: auto 160px;
    }
}
